[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pyviews = {editable = true,path = "."}
pytest = "*"
injectool = "*"

[requires]
python_version = "3"
